body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.TreeNode {
  margin: 10px 0px 10px 0px;
  margin-left: 10px;
  display: flex;
}
.TreeNodeToolBar {
  display: flex;
  margin-left: auto !important;
  gap : 10px
}

.editingName {
  display: flex;
  gap : 10px;
}
.EditableName {
  cursor: pointer;
}
.editableNameToolbar {
  display: flex;
  gap : 10px;
}

.editingName input {
  width: 100%;
  min-width: 10rem;
}